body {
  	text-align: center;
} 

a:before {
	text-decoration: none;
	color: black;
}

a.nav-link{
	color: #fff;
}

a.nav-link:hover {
	color: #fff;
}

button.navbar-toggler {
	background: #8b0000;
	color: #fff;
}

.nav-tabs {
  margin: 0 auto;
  border-bottom: none;
}

.nav-tabs .nav-link {
  border: 0 solid transparent;
}

.nav-tabs .nav-link {
  color: white;
  text-align: center;
  font-size: 18px;
}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
  color: white;
  background-color: #1a1a1a;
  border-color: #1a1a1a;
}

.fixed-top {
	background-color: red;
}
.card {
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
	transition: 0.3s;
	max-height: 700px;
	margin-bottom: 60px;
	text-align: center;
}

.card img {
	max-height: 270px;
}

.card button {
 	margin-bottom: 10px;
}

.card:hover {
  	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.container {
  	padding: 2px 16px;
}

.container-card {
	padding-top: 20px;
}

.w2-image {
    max-width: 100%;
    max-height: 60%;
}
